<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>testFamily</string>
    <key>styleName</key>
    <string>regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>ascender</key>
    <integer>750</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>xHeight</key>
    <integer>510</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>styleMapFamilyName</key>
    <string>testFamily</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
  </dict>
</plist>